// html {
//   box-sizing: border-box;
// }
// *, *:before, *:after {
//   box-sizing: inherit;
// }


body {
  background-color: #000000;
  color: #FFFFFF;
}

// general classes

.container {
  padding: 1rem;
  max-width: 960px;
}

.content-block {
  padding-top: 10rem;
  padding-bottom: 3rem;
}
.content-image-block {
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 800px;
}

.section-title {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #ffffff;

  strong {
    color: #eb9062;
  }

  &.bigger {
    font-size: 36px;
  }
}

.section-text {
  font-size: 18px;
  color: #ffffff;

  strong {
    color: #eb9062;
  }
}

.appendix-part {
  color: #cecece;

  a {
    color: #cecece;
    text-decoration: none;
  }
}

.banner {
  padding-top: 20vh;
  background-image: url("./images/Desktop_pic_1.png");
  background-image: image-set(
    url(./images/Desktop_pic_1.png) 1x,
    url(./images/Desktop_pic_1@2x.png) 2x,
    url(./images/Desktop_pic_1@3x.png) 3x,
  );
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  min-height: 100vh;

  &.vide-playing {
    background-image: none;
  }

  .video-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    overflow: hidden;

    //@see https://codepen.io/shshaw/pen/OVGWLG
    video {
      /* Make video to at least 100% wide and tall */
      min-width: 100%;
      min-height: 100%;

      /* Setting width & height to auto prevents the browser from stretching or squishing the video */
      width: auto;
      height: auto;

      /* Center the video */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);

      object-fit: cover;

      // height: 100%;
      // width: 177.77777778vh; /* 100 * 16 / 9 */
      // min-width: 100%;
      // min-height: 56.25vw; /* 100 * 9 / 16 */
    }
  }

  .hero-part {
    max-width: 80%;
    margin: 0 auto;

    h1 {
      height: 0;
      overflow: hidden;
    }

    .logo-text {
      margin-top: 1rem;
      margin-bottom: 3rem;
    }

    h2 {
      font-size: 18px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      color: #ffffff;
    }
  }
}

.caused-by-climate-section {
  .explain-part {
    margin-right: 10vw;
  }

  .appendix-part {
    max-width: 400px;

    ul {

      li {
        &:first-child {
          border-top: 1px solid #979797;
          margin-top: 0.5rem;
        }
        border-bottom: 1px solid #979797;
        padding: 0.5rem 0;
      }
    }
  }
}
.after-caused-by-climate-part {
  background-image: url("./images/Desktop_pic_2.png");
  background-image:
    image-set(
      url(./images/Desktop_pic_2.png) 1x,
      url(./images/Desktop_pic_2@2x.png) 2x,
      url(./images/Desktop_pic_2@3x.png) 3x,
    );
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.caused-by-coal-section {
  .explain-part {
    margin-top: 1rem;
    margin-right: 5vw;

    .appendix-part {
      margin-top: 60px;

      ul {
        border-style: solid;
        border-color: #979797;
        border-width: 1px 0;
        padding: 0.5rem 0;
        margin: 0.5rem 0;

        li {
          margin-bottom: 0.5rem;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

    }
  }
}

.taipower-backed-section {
  .section-title {}
  .section-text {
    text-align: center;
    margin-top: 0;
  }

  .chart-title {
    margin-top: 6rem;
    margin-bottom: 2rem;
  }

  .chart-container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .recharts-cartesian-axis-tick {
      font-size: 18px;
      color: #ffffff;
    }
  }

  .taipower-history {
    font-size: 18px;
    margin-top: 6rem;

    .year {
      color: #eb9062;
      margin-bottom: 1rem;
      display: flex;
      flex-direction: row;
      align-items: flex-end;

      i.fire {
        margin-right: 30px;
        width: 31px;
        height: 38px;
        display: block;
        background-image: url("./images/Desktop_fire.png");
        background-image:
          image-set(
            url(./images/Desktop_fire.png) 1x,
            url(./images/Desktop_fire@2x.png) 2x,
            url(./images/Desktop_fire@3x.png) 3x,
          );
      }
    }
    .action {
      margin-bottom: 1rem;
      padding-left: 61px;
    }
  }
}

.after-taipower-backed-section {
  min-height: 1000px;
  background-image: url("./images/Desktop_pic_4.png");
  background-image:
    image-set(
      url(./images/Desktop_pic_4.png) 1x,
      url(./images/Desktop_pic_4@2x.png) 2x,
      url(./images/Desktop_pic_4@3x.png) 3x,
    );
  background-size: cover;
}

.call-to-action-setion {
  .section-title {
    margin-bottom: 90px;
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 30px;

    img {
      margin-right: 50px;
    }
  }


  .this-icon {
    width: 94px;
    height: 68px;
    margin-right: 3rem;
    flex: 0 0 94px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .icon-beach {
    background-image: url("./images/mobile-icon-1.svg");
  }

  .icon-hands {
    background-image: url("./images/mobile-icon-2.svg");
  }

  .button {
    display: block;
    margin: 0 auto;
    margin-top: 135px;
    min-width: 70%;
    max-width: 50px;

    width: 660px;
    height: 55px;
    border-radius: 8px;
  }
}

.footer {
  margin-top: 10rem;
  background-color: transparent;

  .gp-part {
    flex: 1;
    padding-right: 10vw;

    .go-logo {
      width: 326px;
    }

    .gp-mission {
      margin-top: 35px;

      font-size: 18px;
      line-height: 1.72;
      color: #9d9d9d;
    }
  }


  .links-part {
    max-width: 300px;
    font-size: 18px;
    color: #9d9d9d;
    margin-top: 2rem;

    li {
      margin-bottom: 1rem;
    }

    a {
      color: #9d9d9d;
      text-decoration: none;
    }

    .fa-chevron-right {
      margin-left: 1.5rem;
    }
  }

  hr {
    height: 1px;
    background-color: rgba(197, 197, 197, 0.33);
  }

  .copyright {
    font-size: 18px;
    color: #9d9d9d;
    text-align: right;
  }
}


@media only screen and (max-width: 1023px) {
  .columns:not(.is-desktop) {
    display: block;
  }
  .columns {
    margin: 0;
  }
  .column {
    padding: 0;
  }

  .container {
    padding: 1rem;
    max-width: 600px;
  }

  .section-title {
    font-size: 16px;
    margin-bottom: 1rem;

    &.bigger {
      font-size: 16px;
    }
  }

  .section-text {
    font-size: 14px;
  }
  .content-image-block {
    min-height: 380px;
    height: 50vh;
  }
  .content-block {
    padding-top: 3rem;
    padding-bottom: 0;
  }

  .banner {
    padding-top: 0;

    .container {
      padding: 0;
    }

    .hero-part {
      width: 80vw;
      max-width: 200px;
      margin: 0 auto;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;

      .logo-text {
        margin-top: 30vh;
        margin-bottom: 1.5rem;
      }

      h2 {
        font-size: 14px;
        text-align: center;
        margin-top: 0;
        margin-bottom: 5.5rem;
      }

      .go-logo {
        max-width: 130px;
      }

      .space-eater {
        flex: 1;
      }

      .go-down-icon {
        // margin-bottom: 4.5rem;
        margin-top: 10vh;
      }
    }
  }

  .mobile-form {
    background-color: #111111;
    background: linear-gradient(#111111, #000000);
  }

  .caused-by-climate-section {
    .explain-part {
      margin-right: 0;
    }

    .appendix-part {
      font-size: 10px;
      margin-top: 1.25rem;
      max-width: 100%;
    }
  }

  .after-caused-by-climate-part {
    background-image: url("./images/mobile_pic2.png");
    background-image:
      image-set(
        url(./images/mobile_pic2.png) 1x,
        url(./images/mobile_pic2@2x.png) 2x,
        url(./images/mobile_pic2@3x.png) 3x,
      );
    background-size: cover;
    background-position: center center;
  }

  .coal-image {
    width: 100%;
    height: 15rem;
    padding: 0.75rem;

    background-image: url("./images/mobile_pic3.png");
    background-image:
      image-set(
        url(./images/mobile_pic3.png) 1x,
        url(./images/mobile_pic3@2x.png) 2x,
        url(./images/mobile_pic3@3x.png) 3x,
      );
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .caused-by-coal-section {
    .explain-part {
      margin-right: 0;
    }

    .appendix-part {
      margin-top: 3rem;
      font-size: 10px;
    }
  }

  .taipower-backed-section {
    .chart-title {
      margin-top: 2.5rem;
      margin-bottom: 0.5rem;
    }
    .chart-data-source {
      font-size: 10px;
      margin-bottom: 2rem;
    }

    .chart-container {
      .recharts-cartesian-axis-tick {
        font-size: 12px;
      }
    }

    .taipower-history {
      font-size: 16px;
      margin-top: 2rem;

      .year {
        margin-bottom: 0;

        i.fire {
          margin-right: 15px;
          width: 11px;
          height: 18px;
          background-image: url("./images/mobile-fire-2.png");
          background-image:
            image-set(
              url(./images/mobile-fire-2.png) 1x,
              url(./images/mobile-fire-2@2x.png) 2x,
              url(./images/mobile-fire-2@3x.png) 3x,
            );
        }
      }
      .action {
        margin-bottom: 1.5rem;
        padding-left: 26px;
      }
    }
  }

  .after-taipower-backed-section {
    min-height: 443px;
    background-image: url("./images/mobile_pic4.png");
    background-image:
      image-set(
        url(./images/mobile_pic4.png) 1x,
        url(./images/mobile_pic4@2x.png) 2x,
        url(./images/mobile_pic4@3x.png) 3x,
      );
  }

  .call-to-action-setion {
    .section-title {
      margin-bottom: 2rem;
    }

    .this-icon {
      width: 47px;
      height: 34px;
      margin-right: 1rem;
      flex: 0 0 47px;
    }

    .button {
      margin-top: 50px;
    }
  }

  .footer {
    margin-top: 1rem;

    .column {
      padding: 0;
    }

    .gp-part {
      padding: 0;

      .go-logo {
        width: 160px;
      }

      .gp-mission {
        font-size: 13px;
        margin-top: 1rem;
      }
    }

    .links-part {
      font-size: 13px;
      margin-top: 1.25rem;
      margin-right: 0;
      max-width: 100%;

      li {
        border-top: 1px solid #979797;
        padding: 0.5rem 0.5rem 0.5rem 0;
        margin: 0;


        &:last-child {
          border-bottom: 1px solid #979797;
        }

        a {
          display: flex;
          flex-direction: row;
          align-items: center;

          span {
            flex: 1;
          }
        }
      }
    }

    .copyright {
      font-size: 13px;
      text-align: left;
    }
  }
}

@media only screen and (max-width: 768px) {
  // .banner {
  //   background-image: url("./images/mobile_pic1.png");
  //   background-image: image-set(
  //     url(./images/mobile_pic1.png) 1x,
  //     url(./images/mobile_pic1@2x.png) 2x,
  //     url(./images/mobile_pic1@3x.png) 3x,
  //   );
  // }

  .after-caused-by-climate-part {
    background-image: url("./images/mobile_pic2.png");
    background-image:
      image-set(
        url(./images/mobile_pic2.png) 1x,
        url(./images/mobile_pic2@2x.png) 2x,
        url(./images/mobile_pic2@3x.png) 3x,
      );
  }

  .coal-image {
    background-image: url("./images/mobile_pic3.png");
    background-image:
      image-set(
        url(./images/mobile_pic3.png) 1x,
        url(./images/mobile_pic3@2x.png) 2x,
        url(./images/mobile_pic3@3x.png) 3x,
      );
  }

  .after-taipower-backed-section {
    min-height: 443px;
    background-image: url("./images/mobile_pic4.png");
    background-image:
      image-set(
        url(./images/mobile_pic4.png) 1x,
        url(./images/mobile_pic4@2x.png) 2x,
        url(./images/mobile_pic4@3x.png) 3x,
      );
  }
}

@media only screen and (max-height: 568px) {
  .banner .hero-part .logo-text {
    margin-top: 10vh;
  }
}
